@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #FFFFFF;
		--foreground: #1D2127;

		--primary: #4B00FA;
		--primary-foreground: #DAE0FF;

		--secondary: #F26B3E;
		--secondary-foreground: #FFE1DB;

		--card: #FFFFFF;
    --card-foreground: #282D34;

    --popover: #FFFFFF;
    --popover-foreground: #1D2127;

    --muted: #DDDDDD;
    --muted-foreground: #3F4349;

    --accent: #EAEAEA;
    --accent-foreground: #1D2127;

    --destructive: #EF4444;
    --destructive-foreground: #FFFFFF;

    --border: #707070;
    --input: #707070;
    --ring: #2F343B;

    --radius: 0.5rem;
	}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
	.container-padding {
		@apply py-4 xs:py-6 px-2 xs:px-4;
	}
}
